{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body background="{% static 'images\back2.jpg' %}">
    <header> 
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <h1 class="logo">rUnClUB</h1>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="home">HOME</a></li>
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="games">GAMES</a></li>
                        <li><a href="contact">CONTACT</a></li>
                    </ul>
                </div>
</div>   
        <!-- <div class="img">
            <img src="{% static 'images/dsf-min.jpg' %}" height="1550px" width="1800px">
        </div> -->
    </header><br><hr>
    <h1><big><center><u>OUR HEROS</u></center></big></h1>
    <h1><u>MESSI</u></h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'images\messi.jpg' %}" alt="Jane" style="width:100%">
      <div class="container">
       
        <p>Sample Hotel and Resort is renowned for the luxury experience it provides guests and you can rest assured that we will do our utmost to ensure your well-being and safety.</p>
      
		 
      </div>
    </div>
  </div>
<h1><u>RONALDO</u></h1>
  <div class="column">
    <div class="card">
      <img src="{% static 'images\ronaldo.jpg' %}" alt="Mike" style="width:100%">" 
      <div class="container">
        <p>Enjoy a selection of appetizers, beer and wine with live music backstage at The Sample Hotel and Resort. Great venue to see upcoming new musicians and artists.</p>
        
      </div>
    </div>
  </div>
  <h1><u>MS DHONI</u></h1>
  <div class="column">
    <div class="card">
      <img src="{% static 'images\ms dhoni.jpg' %}" alt="John" style="width:100%">
      <div class="container">
     
        <p> Rejuvenate the body and soothe the soul at The Sample Hotel and Resort. Discover relaxation and indulgence at our classic Balinese spa during your next vacation or business trip.</p>
        
      </div>
    </div>
  </div>
</div>
<h1><u>SACHIN</u></h1>
<div class="column">
    <div class="card">
      <img src="{% static 'images\sachin.jpg' %}" alt="John" style="width:100%">
      <div class="container">
       
        <p> When you've not packed enough apparel to last for the duration of your stay, you can always take advantage of our hotel laundry service. Express & overnight services available.</p>
        
      </div>
    </div>
  </div>
</div>
<h1><u>SUNIL GAVASKAR</u></h1>
<div class="column">
    <div class="card">
      <img src="{% static 'images\sunil gavaskar.jpg' %}" alt="John" style="width:100%">
      <div class="container">
      
        <p>Our Restaurant offers some of most sought-after dining experiences with internationally recognized standards for service and cuisine. Appease your taste buds and dine in style!</p>
        
      </div>
    </div>
  </div>
</div>
<h1><u>VIRATKOHLY</u></h1>
<div class="column">
    <div class="card">
      <img src="{% static 'images\viratkohly.jpg' %}" alt="John" style="width:100%">
      <div class="container">
       
        <p>At the Sample Hotel and Resort we offer these romantic rooms with a private pool on the terrace as well as beautiful views. Available with open bathroom.</p>
        
      </div>
    </div>
  </div>
</div>
<h1><u>DEEPIKA KUMARI</u></h1>
<div class="column">
    <div class="card">
      <img src="{% static 'images\deepika kumari.jpg' %}" alt="John" style="width:100%">
      <div class="container">
       
        <p>Located on the sky lobby on floor 35, the Lobby Lounge is the perfect place to enjoy a light fare, afternoon tea, or cocktails and late night desserts with dramatic views of the City sky.</p>
        
      </div>
    </div>
  </div>
</div>
<h1><u>ANJU BOBBY</u></h1>
<div class="column">
    <div class="card">
      <img src="{% static 'images\anju bobby.jpg' %}" alt="John" style="width:100%">
      <div class="container">
        <p class="title">Designer</p> -->
        <p> We know that you and your children love non- stop fun, especially when it comes to family holidays. Check with our staff for daily activity kids programme by age</p>
      
      </div>
    </div>
  </div>
</div>
</body>