html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .link {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0040ff;
    text-align: center;
    cursor: pointer;
    width: 10%;
  }
  .button:hover {
    background-color: #555;
  }
  h2 {text-align: center;}
  

/* .img{ 
   background-image: url"{% static 'images/dsf-min.jpg' %}";
   background-size: contain;
   background-repeat: no-repeat;
   width: 200px;
   height: 100vh;
}

.main{
   width: 100%;
   background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("dsf-min.jpg");
   background-position: center;
   background-size: cover;
   height: 100vh;
} */

.logo1{
   float: left;
   margin-left: 60px;
   margin-top: 10px;
}
.navbar{
   width: 1200px;
   height: 75px;
   margin: auto;

}
.icon{
   width: 200px;
   float: left;
   height: 70px;

}
.logo{

   color: #ff7200;
   font-size: 35px;
   font-family: Arial;
   padding-left: 20px;
   float: right;
   padding-top: 10px;

}
.menu{
   width: 400px;
   float: left;
   height: 70px;

}
ul{
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}
ul li{
   list-style: none;
   margin-left: 62px;
   margin-top: 27px;
   font-size: 14px;

}
ul li a{
   text-decoration: none;
   color: white;
   font-family: arial;
   font-weight: bold;
   transition: 0.4s ease-in-out;

}
ul li a:hover{
   color: #ff7200;
}


.header{
   background-size: 100%;
   height: max-content;
   background-size: cover;
   background-position: center;
}

.navbar{
   width: 10px;
   height: 15vh;
   margin: auto;
   align-items: right;
}
.nav ul{
   list-style-type: verdana;
   padding: 0;
}
.nav{
   flex:1;
   padding-left: 60px;
}
.nav ul li{
   display:inline-block;
   list-style: none;
   margin: 0px 20 px;
}
.nav ul li a{
   text-decoration: none;
   color: beige;
}
.nav ul li a:hover{
   text-decoration: solid;
   color: rgb(red, green, blue);
}